body{
    background-color: purple;
}

#blococinza{
background-color: rgb(160, 165, 165);
padding:10px;
text-align: center;
}
h1{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#blocorosa{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    background-color: rgb(241, 44, 110);
}

#corpo{
    display: flex;
    flex-direction: row;
}

#blocoverde{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: green;
    width: 1200px;
    height: 550px;
}

#blocoazul1, #blocoazul2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(88, 219, 255);
    height: 200px;  
}

#blocoverdeestranho{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 550px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
    background-color: rgb(67, 101, 67);
}

#blocolaranja{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(241, 80, 44);
}


