img.esquerda{
    float:left;
    margin-right: 1.5cm;

}
img.direita{
    float:right;
    margin-right: 1.5cm;
}

img.center{
    position: relative;
    right: -490px;
}

h1.semflutuação{
    clear: both;
    text-align: center;
}
p.esq{
    text-align: right;
}
